body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    line-height: 1.2em;
    font-weight: 400;
}

.light {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.header {
    background-color: #e95558;
    font-size: 1.0em;
}

.content-box {
    padding: 15px;
}

.main-content {
    background-color: #f7e7e0;
    padding: 20px 15px;
}

.header a.brand {
    text-decoration: none;
    color: #2e0401;
}

.brand-name {
    font-weight: 600;
}

.header .light-color {
    color: #6f1f17;
}

h1 {
    font-size: 1.8em;
    line-height: 1.1em;
    margin-top: 4px;
    margin-bottom: 20px;
}

.light-color {
    color: #aaaaaa;
}

.content-row {
    margin-bottom: 8px;
}

.margin-top {
    margin-top: 8px;
}

.container {
    max-width: 999px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.small {
    font-size: 0.75em;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border-bottom: none;
    border-top: 1px solid #cccccc;
}

.footer a {
    margin-right: 5px;
}

a {
    color: #370a09;
}

a.visited {
    color: #63383c;
}

a:hover {
    color: #9e2700;
}

